@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
    list-style-type: none;
    text-decoration: none;
}

body {
    display: gird;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px
}

h1:hover {
    cursor: pointer;
}

.home-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50%;
    padding: 1rem;
    height: 100;
    background-color: rgb(80, 80, 80);
    color: white;
    flex-wrap: wrap;
}

.home-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    color: white;
}

.home-div a {
    color: white;
    transition: .3s;
}

.home-div a:hover,
.home-div a:active{
    color: #5a2675;
    transform: scale(0.9, 0.9);
    text-shadow: 0px 0px 15px #5a2675;
    font-size: 22px
}

.home-div:hover > a:not(:hover) {
    filter: blur(2px);
}

#myself {
    border-radius: 10rem;
    box-shadow: 
}